<div id="about">

    <!-- start grid 1-->
    <div class="container p-4 bg-white border content" style="background-image: url('assets/images/beanstalk.png');">

        <!-- first row / title -->
        <div class="row mb-3">
            <div class="col-md-12 pb-2">
                <p class="font-weight-bold text-info border-bottom pb-3 headingText">About Me</p>
            </div>
        </div>

        <!-- second row / content -->
        <div class="row">
            <div class="col-12 text-secondary">
                <img class="rounded float-left" id="headshot" src="assets/images/headshot.jpg" alt="Headshot" />
                <p class="contentText">
                    Full-Stack Web Developer with a Bachelor of Science in Software Engineering and a minor in
                    Mathematics from
                    San Jose State University. Recently completed a certificate in Full-Stack Web Development from the
                    University
                    of California, Berkeley Extension.</p>
                <p class="contentText">
                    My recent certificate added new web development skills like the MERN stack to my Java
                    Object-Oriented
                    Programming experience. My experience in hospitality has given me the ability to easily communicate
                    my thought
                    process with peers and to understand the significance of teamwork and collaboration.</p>
                <p class="contentText">
                    I am passionate about problem-solving, learning new technologies and developing user-friendly
                    applications.
                </p>
                <a href="#portfolio" class="btn text-white bg-info contentText float-right" id="myWork">My Work <i
                        class="fas fa-arrow-circle-down"></i></a>

            </div>
        </div>

        <!-- end content -->

    </div>
    <!-- end grid 1-->
</div>