<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-3">

    <!-- Footer Links -->
    <div class="container text-center">

        <!-- Grid row -->


        <div class="row justify-content-md-center contentText text-white">
            <div class="col col-lg-2">
                <a class="btn headingText footerLink mx-2" style="background-color: rgb(25, 25, 139);" target="_blank"
                    href="https://www.linkedin.com/in/carlos-toledo415/">
                    <i class="fab fa-linkedin-in"></i></a>carlos-toledo415
            </div>

            <div class="col-md-auto">
                <a href="mailto:kqarlos@hotmail.com" class="btn headingText footerLink mx-2"
                    style="background-color:#4aaaa5;" style="text-decoration: none;"><i
                        class="far fa-paper-plane"></i></a>kqarlos@hotmail.com
            </div>

            <div class="col col-lg-2">
                <a class="btn headingText footerLink mx-2" style="background-color:rgb(17, 17, 17);" target="_blank"
                    href="https://github.com/kqarlos">
                    <i class="fab fa-github-alt"></i></a>kqarlos
            </div>




        </div>

        <div class="row my-1 text-white contentText">
            <div class="col-12 ">
                Oakland, CA
            </div>
        </div>



        {{!-- <div class="row">

            <div class="col-md-2 text-center">

                <h5 class="font-weight-bold text-uppercase mb-2 text-white contentText">Contact</h5>

                <ul class="list-unstyled">

                    <li class="list-inline-item">
                        <a class="btn-floating mx-1 headingText text-white" target="_blank"
                            href="https://www.linkedin.com/in/carlos-toledo415/">
                            <i class="fab fa-linkedin"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn-floating mx-1 headingText text-white" target="_blank"
                            href="https://github.com/kqarlos">
                            <i class="fab fa-github-alt"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn-floating mx-1 headingText text-white" target="_blank"
                            href="assets/pdf/resume.pdf">
                            <i class="far fa-address-card"></i></a>
                    </li>
                    <li>
                        <a href="mailto:kqarlos@hotmail.com" class="text-white contentText">kqarlos@hotmail.com</a>
                    </li>
                    <li class="text-white contentText">
                        Oakland, CA
                    </li>
                </ul>

            </div>

        </div> --}}
        <!-- Grid row -->


        <hr class="py-0 my-0">

        <!-- Copyright -->
        <div class="footer-copyright text-center pb-2 contentText text-white">© 2020 Copyright: Carlos T.</div>
        <!-- Copyright -->


    </div>
    <!-- Footer Links -->

</footer>
<!-- Footer -->