<div id="portfolio">

    <!-- start grid 2-->

    <div class="container p-4 bg-white border content">

        <!-- first row / title -->
        <div class="row mb-3">
            <div class="col-12">
                <p class="font-weight-bold text-info border-bottom pb-3 headingText">Portfolio</p>
            </div>
        </div>

        <!-- second row / content -->
        <div class="row">

            <div class="col-12 col-lg-6 col-xl-4 my-2">
                <div class="card">
                    <img src="assets/images/election-year.png" class="card-img" alt="Code Quiz">
                    <div class="card-img-overlay">
                        <a href="https://electionyear2020.herokuapp.com/" target="_blank"
                            class="btn text-white bg-info position-absolute contentText projectBtn">Election Year</a>
                    </div>
                </div>
            </div>


            <div class="col-12 col-lg-6 col-xl-4 my-2">
                <div class="card">
                    <img src="assets/images/memory-game.png" class="card-img" alt="Code Quiz">
                    <div class="card-img-overlay">
                        <a href="https://kqarlos.github.io/memory-game/" target="_blank"
                            class="btn text-white bg-info position-absolute contentText projectBtn">Memory Quiz</a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-6 col-xl-4 my-2">
                <div class="card">
                    <img src="assets/images/note-taker.png" class="card-img" alt="Code Quiz">
                    <div class="card-img-overlay">
                        <a href="https://note-taker2020.herokuapp.com/" target="_blank"
                            class="btn text-white bg-info position-absolute contentText projectBtn">Note Taker</a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-6 col-xl-4 my-2">
                <div class="card">
                    <img src="assets/images/google-library.png" class="card-img" alt="Code Quiz">
                    <div class="card-img-overlay">
                        <a href="https://afternoon-fortress-59314.herokuapp.com/" target="_blank"
                            class="btn text-white bg-info position-absolute contentText projectBtn">Google Books
                            Library</a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-6 col-xl-4 my-2">
                <div class="card">
                    <img src="assets/images/password-generator.png" class="card-img" alt="Password Generator">
                    <div class="card-img-overlay">
                        <a href="https://kqarlos.github.io/password-generator/" target="_blank"
                            class="btn text-white bg-info position-absolute contentText projectBtn">Password
                            Generator</a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-6 col-xl-4 my-2">
                <div class="card">
                    <img src="assets/images/day-planner.png" class="card-img" alt="Day Planner">
                    <div class="card-img-overlay">
                        <a href="https://kqarlos.github.io/day-planner/" target="_blank"
                            class="btn text-white bg-info position-absolute contentText projectBtn">Day Planner</a>
                    </div>
                </div>
            </div>



            <div class="col-12 col-lg-6 col-xl-4 my-2">
                <div class="card">
                    <img src="assets/images/weather-dashboard.png" class="card-img" alt="Weather Dashboard">
                    <div class="card-img-overlay">
                        <a href="https://kqarlos.github.io/weather-dashboard/" target="_blank"
                            class="btn text-white bg-info position-absolute contentText projectBtn">Weather
                            Dashboard</a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-6 col-xl-4 my-2">
                <div class="card">
                    <img src="assets/images/dinner-party.png" class="card-img" alt="Dinner Party">
                    <div class="card-img-overlay">
                        <a href="https://kqarlos.github.io/dinner-party/" target="_blank"
                            class="btn text-white bg-info position-absolute contentText projectBtn">Dinner Party</a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-6 col-xl-4 my-2">
                <div class="card">
                    <img src="assets/images/shopping-buddy.png" class="card-img" alt="Shopping Buddy">
                    <div class="card-img-overlay">
                        <a href="https://shopping-buddy2020.herokuapp.com/" target="_blank"
                            class="btn text-white bg-info position-absolute contentText projectBtn">Shopping Buddy</a>
                    </div>
                </div>
            </div>

        </div>

        <!-- end content -->

    </div>

    <!-- end grid 2-->

</div>