<div id="portfolio" style="display:{{portfolioDisplay}};">

    <!-- start grid 2-->

    <div class="container p-4 bg-white border content">

        <!-- first row / title -->
        <div class="row mb-3">
            <div class="col-12">
                <p class="font-weight-bold text-info border-bottom pb-3 headingText">Portfolio</p>
            </div>
        </div>

        <!-- second row / content -->
        <div class="row">

            <div class="col-12 col-xl-4 my-1">

                <div class="card  text-center">
                    <img class="card-img-top" src="assets/images/artiste/artiste.png" alt="Card image cap">
                    <div class="card-body">
                        <a href="/artiste" class="btn text-white bg-info contentText w-100">Artiste Affame</a>
                        <p class="card-text">A react game. Live the life of a starving artist in Artiste Affame!</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-4 my-1 px-1">

                <div class="card  text-center">
                    <img class="card-img-top" src="assets/images/election/election-year.png" alt="Card image cap">
                    <div class="card-body">
                        <a href="/electionYear" class="btn text-white bg-info contentText w-100">Election Year</a>
                        <p class="card-text">Political app to keep track of your federal representatives</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-4 my-1">

                <div class="card  text-center">
                    <img class="card-img-top" src="assets/images/google/google-library.png" alt="Card image cap">
                    <div class="card-body">
                        <a href="/googleLibrary" class="btn text-white bg-info contentText w-100">Google Book
                            Library</a>
                        <p class="card-text">Search through Google Books API and keep a list of your favorite books.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- third row / content -->
        <div class="row">

            <div class="col-12 col-lg-6  my-1">
                <div class="card ">
                    <img src="assets/images/memory/memory-game.png" class="card-img" alt="Code Quiz">
                    <div class="card-img-overlay">
                        <a href="/memoryGame"
                            class="btn text-white bg-info position-absolute contentText projectBtn">Memory Game</a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-6  my-1">
                <div class="card ">
                    <img src="assets/images/note/note-taker.png" class="card-img" alt="Code Quiz">
                    <div class="card-img-overlay">
                        <a href="/noteTaker"
                            class="btn text-white bg-info position-absolute contentText projectBtn">Note Taker</a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-6  my-1">
                <div class="card ">
                    <img src="assets/images/dinner-party.png" class="card-img" alt="Dinner Party">
                    <div class="card-img-overlay">
                        <a href="/dinnerParty"
                            class="btn text-white bg-info position-absolute contentText projectBtn">Dinner Party</a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-6 my-1">
                <div class="card ">
                    <img src="assets/images/shopping-buddy.png" class="card-img" alt="Shopping Buddy">
                    <div class="card-img-overlay">
                        <a href="/shoppingBuddy"
                            class="btn text-white bg-info position-absolute contentText projectBtn">Shopping Buddy</a>
                    </div>
                </div>
            </div>

        </div>

        <!-- fourth row / content -->
        <div class="row">

            <div class="col-12 col-lg-4 col-xl-4 my-2">
                <div class="card ">
                    <img src="assets/images/password-generator.png" class="card-img" alt="Password Generator">
                    <div class="card-img-overlay">
                        <a href="/passwordGenerator"
                            class="btn text-white bg-info position-absolute contentText projectBtn">Password
                            Generator</a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-4 col-xl-4 my-2 px-1">
                <div class="card ">
                    <img src="assets/images/day-planner.png" class="card-img" alt="Day Planner">
                    <div class="card-img-overlay">
                        <a href="/dayPlanner"
                            class="btn text-white bg-info position-absolute contentText projectBtn">Day Planner</a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-4 col-xl-4 my-2">
                <div class="card ">
                    <img src="assets/images/weather-dashboard.png" class="card-img" alt="Weather Dashboard">
                    <div class="card-img-overlay">
                        <a href="/weatherDashboard"
                            class="btn text-white bg-info position-absolute contentText projectBtn">Weather
                            Dashboard</a>
                    </div>
                </div>
            </div>

        </div>

        <!-- end content -->

    </div>

    <!-- end grid 2-->

</div>