<div id="project" style="display:{{projectDisplay}};">

    <!-- start grid -->

    <div class="container p-4 bg-white border content" id="contactContent">

        <!-- first row / title -->
        <div class="row mb-3">
            <div class="col-12">
                <p class="font-weight-bold text-info border-bottom pb-3 headingText">{{name}}</p>
            </div>
        </div>

        <!-- second-seven row / form-->
        <form class="contentText text-secondary">
            <div class="form-row">
                <div class="form-group col-12">
                    <label for="name1">Name</label>
                    <textarea class="form-control" id="name1" rows="1"></textarea>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-12">
                    <label for="email1">Email</label>
                    <textarea class="form-control" id="email1" rows="1"></textarea>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-12">
                    <label for="message1">Message</label>
                    <textarea class="form-control" id="message1" rows="7"></textarea>

                </div>
            </div>
            <button type="button" class="btn text-white bg-info" data-toggle="modal" data-target="#exampleModal"
                id="sendMessage">Submit</button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Email sent!</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Thank you for contacting me! I will be in touch with you soon.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>



        </form>

        <!-- end content -->

    </div>

    <!-- end grid -->

</div>