<a href="#about" class="btn text-white bg-info contentText" id="topBtn"><span id="t">Top </span><i
    class="fas fa-arrow-circle-up"></i></a>

<!---------------------------- start box 1 ---------------------->

{{> about}}

<!-------------------------- end box 1 ---------------------->

{{> navbar }}

<!-------------------- start box 2 -------------------------->

{{> portfolio}}

<!------------------------- end box 2 ----------------------->

<!------------------------- start box 3 ---------------->

{{> contact }}

<!---------------------------- end box 3 ------------>

<!-- start footer -->

{{> footer }}